{% extends 'page.html' %}

{% block breadcrumb_content %}
    {% if h.check_access('admin_panel_access') %}
        <li>{% link_for _("Dashboard"), named_route='ap_support_admin.list' %}</li>
    {% else %}
        <li>{% link_for _("My tickets"), named_route='ap_support.my_tickets' %}</li>
    {% endif %}
    <li class="active">
        {% link_for "Ticket #" ~ ticket.id, named_route='ap_support.ticket_read', ticket_id=ticket.id %}
    </li>
{% endblock breadcrumb_content %}

{% block secondary %}{% endblock %}

{% block primary %}
    <div class="primary col-md-12" role="main">
        <div class="my-2 py-1">
            {% block primary_content %}
                {% snippet "ap_support/ticket_read_inner.html", ticket=ticket %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
