.ap-collection {
    .form-group {
        margin-bottom: 0;

        .btn {
            top: 0;
        }
    }

    .ap-collection--form {
        margin-bottom: 1.875rem;
    }

    .bulk-actions {
        .form-group {
            margin-bottom: 1.875rem;
        }
    }
}
