{% import 'macros/form.html' as form %}

{#} If we don't have a data dict, it's a create job modal {#}
{% set field_data_id = "data" if not data else "data-edit" %}
{% set field_data_validation_id = "data-validation-result" if not data else "data-edit-validation-result" %}
{% set field_schedule_id = "schedule" if not data else "edit-schedule" %}

{% if data %}
    {{ form.hidden("id", value=data.id) }}
{% endif %}

{{ form.input("name", label=_("Name"), value=data.name, is_required=true, attrs={"required": "required", "class": "form-control"}) }}

{{ form.input('actions', label=_('Actions'), value=data.actions|join(",") if data.actions else "", is_required=true, error=error, attrs={"multiple": "multiple", "data-module": "autocomplete", "data-module-source": "/admin-panel/cron/actions_autocomplete?incomplete=?", "data-module-tags": "", "data-module-createtags": "false"}) }}

{% call form.textarea("data", id=field_data_id, label=_("Data"), value=data.data|tojson if data else "{}", attrs={"data-module": "ap-jsonlint", "data-module-input": "#" + field_data_id, "data-module-result":"#" + field_data_validation_id}) %}
    <div id="{{ field_data_validation_id }}"></div>
{% endcall %}

{{ form.input("timeout", label=_("Job timeout"), value=data.timeout or h.ap_cron_get_job_timeout(), is_required=true, type='number', attrs={"step": "1", "pattern": "\d+", "class": "form-control"}) }}

<div class="quick-schedule mb-4">
    <label class="mb-2">{{ _("Quick Schedule") }}</label>
    <div class="d-flex flex-wrap gap-2">
        <a class="btn btn-primary" onclick="document.getElementById('{{ field_schedule_id }}').value = '@reboot'; return false;">{{ _("Startup") }}</a>
        <a class="btn btn-primary" onclick="document.getElementById('{{ field_schedule_id }}').value = '@hourly'; return false;">{{ _("Hourly") }}</a>
        <a class="btn btn-primary" onclick="document.getElementById('{{ field_schedule_id }}').value = '@daily'; return false;">{{ _("Daily") }}</a>
        <a class="btn btn-primary" onclick="document.getElementById('{{ field_schedule_id }}').value = '@weekly'; return false;">{{ _("Weekly") }}</a>
        <a class="btn btn-primary" onclick="document.getElementById('{{ field_schedule_id }}').value = '@monthly'; return false;">{{ _("Monthly") }}</a>
        <a class="btn btn-primary" onclick="document.getElementById('{{ field_schedule_id }}').value = '@yearly'; return false;">{{ _("Yearly") }}</a>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-2">{{ _("Minute") }}</div>
    <div class="col-md-2">{{ _("Hour") }}</div>
    <div class="col-md-2">{{ _("Day") }}</div>
    <div class="col-md-2">{{ _("Month") }}</div>
    <div class="col-md-2">{{ _("Week") }}</div>
</div>

<div class="row mb-2">
    <div class="col-md-2">
        <input type="text" class="form-control" id="{{ scope }}-job-minute" value="*">
    </div>

    <div class="col-md-2">
        <input type="text" class="form-control" id="{{ scope }}-job-hour" value="*">
    </div>

    <div class="col-md-2">
        <input type="text" class="form-control" id="{{ scope }}-job-day" value="*">
    </div>

    <div class="col-md-2">
        <input type="text" class="form-control" id="{{ scope }}-job-month" value="*">
    </div>

    <div class="col-md-2">
        <input type="text" class="form-control" id="{{ scope }}-job-week" value="*">
    </div>

    {% if scope == "create" %}
        <div class="col-md-2"><a class="btn btn-primary" onclick="ckan.setCreateSchedule(document.getElementById('{{ field_schedule_id }}')); return false;">{{ _("Set") }}</a></div>
    {% else %}
        <div class="col-md-2"><a class="btn btn-primary" onclick="ckan.setEditSchedule(document.getElementById('{{ field_schedule_id }}')); return false;">{{ _("Set") }}</a></div>
    {% endif %}
</div>

{{ form.input("schedule", id=field_schedule_id, value=data.schedule, label=_("Schedule"), is_required=true, attrs={"readonly": 1, "required": 1, "class": "form-control"}) }}

<script>
    ckan.setCreateSchedule = function (scheduleContainer) {
        $(scheduleContainer).val(getSchedule("create"))
    }

    ckan.setEditSchedule = function (scheduleContainer) {
        $(scheduleContainer).val(getSchedule("edit"))
    }

    /**
    * Get a cron schedule string
    *
    * @returns
    */
    function getSchedule(scope) {
        const min = $(`#${scope}-job-minute`).val() || "*";
        const hour = $(`#${scope}-job-hour`).val() || "*";
        const day = $(`#${scope}-job-day`).val() || "*";
        const month = $(`#${scope}-job-month`).val() || "*";
        const week = $(`#${scope}-job-week`).val() || "*";

        return `${min} ${hour} ${day} ${month} ${week}`
    }
</script>
