// ==========================================================
//  List page — ticket table badges
// ==========================================================

.ap-ticket-list {
  .badge {
    color: black;

    &.badge-opened {
      background-color: var(--bs-table-striped-bg);
    }

    &.badge-closed {
      background-color: #6c757d;
      color: white;
    }
  }
}
